---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>My Blog <span style='font-size: 12px;'>powered by Astro</span></h1>
  <p>This is where I will post about my journey of a developer.</p>
</Layout>
