<div>
  <h1 class="heading">vintagesquid.dev</h1>

  <div class="about-me">
    <h2>
      My name is Bálint but I go by the nickname vintagesquid on the magical
      internet.
    </h2>
    <p>I like to tinker with things on the World Wide Web.</p>
  </div>
</div>

<style>
  * {
    line-height: 1.5;
  }
  .heading {
    margin-left: -0.375rem;
    color: var(--color-primary);
    background-color: var(--color-base-100);
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.375rem 1rem;
    margin-bottom: 2rem;
  }

  .about-me {
    max-width: 600px;
  }
</style>
