---
import Navigation from "./Navigation.astro";
---

<div>
  <div class="navigation-wrapper">
    <Navigation />
  </div>

  <h1 class="heading">vintagesquid.dev</h1>

  <div class="about-me">
    <h2>My name is Bálint. I like vintage stuff and squids.</h2>
    <p>I write code that breaks... reality.</p>
  </div>
</div>

<style>
  * {
    line-height: 1.5;
  }

  .navigation-wrapper {
    margin-bottom: 1rem;
  }

  .heading {
    margin-left: -0.375rem;
    color: var(--color-primary);
    background-color: var(--color-base-100);
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.375rem 1rem;
    margin-bottom: 2rem;
  }

  .about-me {
    max-width: 600px;
  }
</style>
